@font-face {
  font-family: "Noe Display";
  src: url("../fonts/NoeDisplayBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --aspect-ratio: 9 / 16;
  --color-green: #50ff76;
  --color-blue: #051a76;
  --color-orange: #ff6400;
  --color-gray: #646464;

  --main-font-family: "IBM Plex Sans", sans-serif;
  --heading-font-family: "Noe Display", "Georgia", serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  height: 100svh;
  font-family: var(--main-font-family);
}

#app {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #272727;
}

#view {
  --board-width: 100%; // set from js
  --board-height: calc(var(--board-width) * (1 / (var(--aspect-ratio))));
  --board-margin: calc(0.0278 * var(--board-width));
  --board-margin-bottom: calc(0.25 * var(--board-width));
  --dice-area-height: calc(var(--board-width) * 0.1667);

  position: relative;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: var(--aspect-ratio);
  background: #000;
  color: #fff;

  .loader-area {
    position: absolute;
    inset: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    background-image: url("../assets/board-thumb.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.5s linear;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .loader {
      width: calc(0.25 * var(--board-width));
      height: calc(0.25 * var(--board-width));
      border: calc(0.0389 * var(--board-width)) solid var(--color-blue);
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }
  }

  .board {
    position: absolute;
    inset: 0;
    background-image: url("../assets/board.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .dice-area {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--dice-area-height);
    // background: var(--color-green);

    .btn-throw {
      margin: 0;
      padding: 1em 2em;
      background: transparent;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: inherit;
      font-weight: 700;
      font-size: calc(0.0389 * var(--board-width));
      cursor: pointer;

      .text {
        margin-right: 0.75em;
      }

      img.icon {
        width: calc(0.05 * var(--board-width));
      }
    }

    .dice {
      display: none;

      .dice-side {
        grid-area: 1 / 1;
        width: calc(0.1112 * var(--board-width));
        height: calc(0.1112 * var(--board-width));
        opacity: 0;

        @for $i from 1 through 6 {
          &.dice-side--#{$i} {
            background-image: url("../assets/dice-#{$i}.png");
            background-repeat: no-repeat;
            background-size: contain;
          }
        }

        &.active {
          opacity: 1;
        }
      }
    }

    &.throwing {
      .btn-throw {
        display: none;
      }

      .dice {
        display: grid;
      }
    }
  }

  .player {
    --pos-x: 1;
    --pos-y: 1;
    --col: (var(--board-width) - var(--board-margin)) / 4;
    --row: (var(--board-height) - var(--board-margin-bottom)) / 5;
    --width: calc(0.0556 * var(--board-width));
    --height: calc(0.125 * var(--board-width));
    position: absolute;
    width: var(--width);
    height: var(--height);
    background-image: url("../assets/player.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(
      calc(var(--pos-x) * var(--col) + var(--col) * 0.4375),
      calc(var(--pos-y) * var(--row) + var(--row) - var(--height))
    );
    transition: transform 1s ease-in-out;

    &.start {
      --pos-x: 0;
      --pos-y: 4;
      --row: (var(--board-height) - var(--dice-area-height)) / 5;
      transition: none;
    }
  }
}

.modal-bg {
  position: absolute;
  inset: 0;
  display: none;
  place-items: center;
  background: rgba(0, 0, 0, 0.5);

  &.open {
    display: grid;
  }

  .modal {
    --modal-color: var(--color-blue);
    --modal-title-color: #fff;
    background: #fff;
    width: calc(var(--board-width) * 0.8334);
    max-height: 85%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: #000;

    &.modal--orange {
      --modal-color: var(--color-orange);
    }

    &.modal--gray {
      --modal-color: var(--color-gray);
    }

    &.modal--green {
      --modal-color: var(--color-green);
      --modal-title-color: #000;

      .btn-modal-close {
        filter: invert(1);
      }
    }

    .modal-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: var(--modal-color);

      h2 {
        margin: 0;
        padding-block: calc(var(--board-width) * 0.0417);
        padding-left: calc(var(--board-width) * 0.0834);
        font-family: var(--heading-font-family);
        font-weight: 700;
        font-size: calc(var(--board-width) * 0.0667);
        line-height: 1;
        color: var(--modal-title-color);
      }

      .btn-modal-close {
        width: calc(var(--board-width) * 0.0792);
        height: calc(var(--board-width) * 0.0792);
        margin-inline: calc(var(--board-width) * 0.0417);
        background: transparent;
        border: 0;
        background-image: url("../assets/close.png");
        background-repeat: no-repeat;
        background-size: contain;
        text-indent: -9999px;
        cursor: pointer;

        &.hidden {
          display: none;
        }
      }
    }

    .modal-body {
      padding: calc(var(--board-width) * 0.0834);
      color: #000;
      font-size: calc(var(--board-width) * 0.0417);
      line-height: 1.3334;

      p {
        margin-top: 0;
        margin-bottom: 2em;

        &.big-number,
        &.big-text,
        &.emphasised {
          font-family: var(--heading-font-family);
          font-weight: 700;
          color: #000;
          color: var(--modal-color);
        }

        &.big-number {
          margin-bottom: 0.3334em;
          font-size: calc(var(--board-width) * 0.1);
        }

        &.big-text {
          margin-bottom: 0.3334em;
          font-size: calc(var(--board-width) * 0.0667);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      button,
      a.button {
        display: block;
        padding: calc(var(--board-width) * 0.0293) 0;
        width: 100%;
        background: var(--color-blue);
        border: 0;
        border-radius: 5em;
        font-family: inherit;
        font-size: calc(var(--board-width) * 0.0417);
        font-weight: 500;
        color: #fff;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
